  <article class="article-teaser" class="container">
    <header class="row">
      <div class="col-md-8">
        <h2><%= link_to article.title, article_path(article) %></h2>
      </div>
      <div class="meta col-md-4">
        <span class="published">
          <%= article.published_at %>
        </span>
      </div>
    </header>
  </article>
