<% provide :title, @article.title %>

<article class = "article show">
  <header>
    <h1><%= @article.title %></h1>
    <span class="meta">
      <%= @article.published_at %> |
      <%= @article.user.email %> 

    </span>
  </header>


  <p><%= raw @article.body_text %></p>
</article>