// Place all the styles related to the admin/admin_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sidebar-width: 15em;

.admin-sidebar {
  width: $sidebar-width;
  background: #2c3b4b;
  position: absolute;
  left: 0;
  top: 4em;
  padding-top: 1.5em;
  z-index: 1;
  height: 100vh;

  img {
    width: 2.3em;
  }

  li {
    height: 3.5em;
    line-height: 3.5em;
    border-bottom: 1px solid #515A5A;

    &:first-child {
      border-top: 1px solid #515A5A;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1em;
      line-height: 1.5em;
      border-left: 7px solid #008f9c;
      display: block;
      padding-left: 1em;
      transition: 0.3s;

      &.active, &:hover, .active {
        border-left: 14px solid #008f9c
      }
    }
  }
}

.admin-panel {
  padding-left: $sidebar-width - 1em;
}

