<% provide :title, "Wszystkie kursy" %>

<div class = "subject-index">

	<h1 class = "center">Wszystkie kursy</h1>

	<div class = "subject-catalog">
		<%= react_component 'Test', scope: 'recent' %>
		<!-- <%= render @subjects %> -->
	</div>
</div>
