<% provide :title, "Wszystkie kursy" %>
<% provide :no_container, true %>


<div class = "subject-index">

	<h1 class = "center">Wszystkie kursy</h1>

	<div class = "subject-catalog">
		<%= react_component 'Subjects', scope: 'recent' %>
	</div>
</div>
