<% provide :title, 'Kontakt' %>

<section id="map-canvas">
</section>
<div class="contact">

  <section class="form">
    <%= react_component 'ContactForm', {} %>
  </section>
  <div class="clear"></div>
</div>
