// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article {
  img {
    width: 100% !important; // TODO: dont use important here
    height: 100% !important;
    margin: 0 auto;
    display: block;
  }
}
