// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article {
  img {
    width: 100% !important; // TODO: dont use important here
    height: 100% !important;
    margin: 0 auto;
    display: block;
  }
}

.articles {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;

  

  text-align: left;

  h1, h2 {
    text-align: center;
    line-height: 1.2;
  }

  h1 { 
    color: $primary;
  }

  .author {
    text-align: center;
    font-size: 0.8em;
  }

  article {
    font-size: 1.3em;
    line-height: 1.5;
  }
}
