@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300&subset=latin,latin-ext);

@import "vars";
@import "font-awesome";

/* ******* */
/* GENERAL */
/* ******* */


.clear {
  clear: both;
}

.params-debug {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  border: 1px solid #1D1D1D;
}

.center {
  text-align: center;
}

html {
  font-size: 1em;
}

body {
  color: $text-color;
  background: #F5F5F5;
}

a.active {
  color: darken($text-color, 10%)
}

a {
  color: $secondary;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

a.fa {
  text-decoration: none;
}

label {
  font-weight: normal;
  margin-bottom: 0;
}

html, body, ul, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html, body, ul {
  font-family: 'Roboto', sans-serif;
}

input {
  border: 0;
}


h1 {
  font-size: 3em;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 0.25em;
}
.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.page-content {
  text-align: center;
}

/* *************** */
/* COMMON ELEMENTS */
/* *************** */

#page-header {


  background: $header-bg;
  color: #fff;
  height: $header-height;
  margin-bottom: 2em;

  a {
    color: inherit;
    text-decoration: none;

    transition: 0.2s;

    &:hover {
      color: darken(#fff, 25%);
    }
  }

  ul {
    list-style: none;
  }

  li {
    display: inline;
    margin: 0 0.7rem;

    &:last-child {
      margin-right: 0;
    }
  }

  #logo {
    line-height: $header-height;
    display: block;
    float: left;

    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    font-weight: 400;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  nav {
    display: inline;
    text-align: right;
    line-height: $header-height;

    font-size: 0.9rem;
  }
}

/* ******* */
/* BUTTONS */
/* ******* */

.button {
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
  width: 12rem;
  border: 0;
  border-radius: 3px;


  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 0.85rem;

  transition: 0.3s;

  cursor: pointer;
}
.button-primary {
  background: $primary;
  border-bottom: 5px solid darken($primary, 12%);

  &:hover {
    background: darken($primary, 5%);
  }
}
.button-secondary {
  background: $secondary;
  border-bottom: 5px solid darken($secondary, 12%);

  &:hover {
    background: darken($secondary, 5%);
  }
}

.custom-form {
  width: 45%;
  margin: 0 auto;

  label {
    margin-bottom: 0.35em;
  }
  .input{
    position: relative;

    .error {
      position: absolute;
      right: -1em;
      top: 0;
      text-align: right;

      font-size: 0.9em;
      color: rgba(253, 30, 0, 1);
    }
  }

  input:not([type="checkbox"]):not([type="radio"]), textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    border-radius: 3px;
    padding: 0 0.5em;
    line-height: 1.5em;
    font-weight: 300;
  }
  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), textarea {
    color: #575757;
  }

  .user_role > label {
    display: block;
    margin-bottom: 0.5em;
  }

  span.radio {
    display: inline;
    margin-right: 1em;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    height: 2.5em;
    border: 1px solid #DFDFDF;
  }
  textarea {
    height: 10em;
    padding: 0.25em 0.5em;
    border: 1px solid #DFDFDF;
  }

  input[type="submit"] {
    width: 50%;
    margin: 0.5em auto;
    display: block;
    color: #fff;
    height: 2.5em;
    font-weight: 300;
  }
}


// TODO: http://tympanus.net/Development/NotificationStyles/bar-slidetop.html for ajax reponses

.alert {
  padding: 0 2em;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  position: fixed;
  left: 0em;
  top: -3rem;
  z-index: 100;

  background: #FFFDD5;

  .close-div {
    width: 1em;
    height: 1em;
    display: block;
    float: right;
    cursor: pointer;
  }
}

.subject {
  background: #fff;
  padding: 1em 1.5em;
  display: inline-block;
  width: 30%;
  margin: 0 1%;
  margin-bottom: 20px;
  box-sizing: border-box;

  box-shadow: 0px 0px 1px #797979;
  border-radius: 3px;

  position: relative;
  padding-bottom: 4em;


  img {
    height: 200px;
  }

  h2, img {
    margin-bottom: 0.75em;
  }

  .button {
    margin: 0 auto;
    position: absolute;

    width: 80%;
    height: 3em;
    line-height: 3em;

    padding: 0;

    left: 10%;
    bottom: 1em;
    color: #fff !important;
  }

}


.devise-links {
  margin-top: 2.5em;
  font-size: 0.95em;
}


table.primary-table {

    border-collapse: collapse;
    border: 1px solid #c5c5c5;

    line-height: 2.5em;

    thead {
      background: #eb8a45;
      color: #fff;
      padding: 1em;

      tr {
        background: inherit;
      }
    }

    th {
      font-weight: normal;


      a {
        color: inherit;
        text-decoration: none;
      }
      // TODO: Change the images later
      .current {
        background-repeat: no-repeat;
        background-position: right center;
        padding: 20px
      }
      .asc {
         background-image: image-url("sortable_tables/up.png");
      }
      .desc {
         background-image: image-url("sortable_tables/down.png");
      }

    }

    tr {
      transition: 1s;
      border: 1px solid #c5c5c5;
      background: #E6E6E6;

      &:nth-child(even) {
        background: #D8D8D8;
      }
    }

    td, th {
      padding: 0 1.5em;
    }
  }
