@import "vars";

$subject-info-header-height: 300px;

.subjects-controller.info {

  header#page-header {
    margin-bottom: 0;
  }

  .subject-info-content {
    font-size: 1.2em;

    section {
      margin-bottom: 2.5em;
    }

    .description {
      padding-top: 1.5em;
      border-right: 1px solid #ddd;
      padding-right: 1.5em;

      .intro-video-container {
        position: relative;
        height: 0px;
        padding-top: 30px;
        padding-bottom: 60%;
        overflow: hidden;
        background: #E5EBEC;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2em;

        .intro-video {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border: 0;
        }
      }

      .button {
        display: block;
        margin: 0 auto;
        width: 40%;
      }
    }

    .table-of-contents {
      padding-top: 1.5em;
      padding-left: 1.5em;
      ol {
        padding-left: 25px;
        margin-bottom: 1.5em;
      }
    }

  }
  .summary {
    font-size: 1.3em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;

    i {
      margin-right: 0.25em;
    }
    span {
      margin-right: 1.5em;
    }
  }

  h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
  }

}