<footer>
  <div class="container">
    <section id='copyright'>Copyright &copy; 2015 ePUEPS</section>
    <section class='contact'>
      Pracownia Układów Elektronicznych i Przetwarzania Sygnałów <br />
      Centrum Mechatroniki, Biomechaniki i Nanoinżynierii <br />
      ul. Jana Pawła II 24, 60-965 Poznań <br />
      tel. (+61) 647 5932 <br />
      <br />
      Adres korespondencyjny: <br />
      ul. Piotrowo 3a, 60-965 Poznań <br />

    </section> 
  </div>
</footer>
